<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back" id="arrowToolbar"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Info IP
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/search-ip">
        Acessar
      </ion-button>
      <ion-button routerLink="/myip">
        Meu IP
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngIf="ipData">
    <ion-card-header>
      <ion-card-title>Info IP</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-input [(ngModel)]="query" label="Endereço IP:" placeholder="Digite um endereço IP"></ion-input>
    </ion-item>

    <ion-card-content>
      <h4 class="titleH">As informações de {{ query }}</h4>
      <p class="pInfo">País: {{ ipData.country }}</p>
      <p class="pInfo">Região: {{ ipData.regionName }}</p>
      <p class="pInfo">Cidade: {{ ipData.city }}</p>
      <p class="pInfo">Latitude: {{ ipData.lat }}</p>
      <p class="pInfo">Longitude: {{ ipData.lon }}</p>
      <p class="pInfo">Provedor: {{ ipData.isp }}</p>
    </ion-card-content>
    <ion-button class="buttonCard" (click)="searchIpInfo()" expand="block">
      Pesquisar
    </ion-button>
    <ion-text id="messageError" color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
  </ion-card>
  
</ion-content>