<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back" id="arrowToolbar"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Info IP
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/search-ip">
        Acessar
      </ion-button>
      <ion-button routerLink="/myip">
        Meu IP
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Meu IP</h1>

  <ion-card *ngIf="ipData">
    <ion-card-header>
      <ion-card-title>Seu endereço IP é {{ query }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h4 class="titleH">As informações de {{ query }}:</h4>
      <p class="pInfo">País: {{ ipData.country }}</p>
      <p class="pInfo">Região: {{ ipData.regionName }}</p>
      <p class="pInfo">Cidade: {{ ipData.city }}</p>
      <p class="pInfo">Latitude: {{ ipData.lat }}</p>
      <p class="pInfo">Longitude: {{ ipData.lon }}</p>
      <p class="pInfo">Provedor: {{ ipData.isp }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
