<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Info IP
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/search-ip">
        Acessar
      </ion-button>
      <ion-button routerLink="/myip">
        Meu IP
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Utilização de Info IP</h1>

  <ion-card *ngIf="ipData">
    <ion-card-header>
      <ion-card-title>Exemplo IP do Google</ion-card-title>
    </ion-card-header>

    <ion-item>
      <ion-input label="Endereço IP:" disabled=[true] value="8.8.8.8 (Qualquer IP)"></ion-input>
    </ion-item>

    <ion-card-content>
      <h4 class="titleH">As informações de {{ query }}:</h4>
      <p class="pInfo">País: {{ ipData.country }}</p>
      <p class="pInfo">Região: {{ ipData.regionName }}</p>
      <p class="pInfo">Cidade: {{ ipData.city }}</p>
      <p class="pInfo">Latitude: {{ ipData.lat }}</p>
      <p class="pInfo">Longitude: {{ ipData.lon }}</p>
      <p class="pInfo">Provedor: {{ ipData.isp }}</p>
    </ion-card-content>
    <ion-button class="buttonCard" expand="block" routerLink="/search-ip">
      Quero usar
    </ion-button>
    <ion-text id="messageError" color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>
  </ion-card>
</ion-content>
