ion-content {
  background: linear-gradient(to bottom, #4db8ff, #1a75ff);
  color: rgb(255, 253, 253);

  h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 50px;
  }

  ion-button {
    --background: #0079c2;
    color: #000;
    font-weight: 600;
    border-radius: 10px;
  }
}

.titleH{
  font-size: 1rem;
  margin-bottom: 20px;
  color: white;
}

.pInfo{
  color: white;
}